<!-- Sidebar
============================================= -->
<div class="sidebar nobottommargin col_last clearfix">
    <div class="sidebar-widgets-wrap">

        {% include 'xblogapps/_partials/sidebars/right_sidebar/categories.html' %}
        {% include 'xblogapps/_partials/sidebars/right_sidebar/recent_items.html' %}
        {% include 'xblogapps/_partials/sidebars/right_sidebar/last_viewed_items.html' %}
        {% include 'xblogapps/_partials/sidebars/right_sidebar/popular_items.html' %}
        {% include 'xblogapps/_partials/sidebars/right_sidebar/subscribe.html' %}
        {% include 'xblogapps/_partials/sidebars/right_sidebar/clients_carousel.html' %}

    </div>
</div><!-- .sidebar end -->