<ul>
    <li>
        <a href="{% url 'xblog:home' %}">
            <div>Home</div>
        </a>
    </li>
    <li class="current mega-menu"><a href="#">
        <div>Categories</div>
    </a>
        {% include 'loader/header/top/categories_dropdown.html' %}
    </li>
    {% if not request.user.is_authenticated %}
        <li><a href="{% url 'xblog:users:login' %}">
            <div>Login</div>
        </a>
        </li>
        <li><a href="{% url 'xblog:users:register' %}">
            <div>Register</div>
        </a>
        </li>
    {% endif %}
</ul>