{% if is_paginated %}
<div class="row">
    <div class="col-md-6">
        <ul class="pagination pagination-rounded pagination-inside-transparent pagination-button pagination-md">
            {% if page.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
                </li>
                {% comment %}
           {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span
                        aria-hidden="true">&laquo;</span></a></li>
                        {% endcomment %}
            {% endif %}
        </ul>
    </div>

    <div class="col-md-6">
        <ul class="pagination pagination-rounded pagination-inside-transparent pagination-button pagination-md">
            {% if page.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                </li>
                {% comment %}
           {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" aria-label="Next"><span
                        aria-hidden="true">&raquo;</span></a></li>
{% endcomment %}
            {% endif %}
        </ul>
    </div>
</div>

{% endif %}