{% load article_tags %}

<!-- Sidebar
                ============================================= -->
<div class="sidebar nobottommargin clearfix">
    <div class="sidebar-widgets-wrap">
        {% include 'xblogapps/_partials/sidebars/left_sidebar/twitter_follow.html' %}
        {% include 'xblogapps/_partials/sidebars/left_sidebar/flickr.html' %}
        {% include 'xblogapps/_partials/sidebars/left_sidebar/post_widget.html' %}
        {% include 'xblogapps/_partials/sidebars/left_sidebar/portfolio_carousel.html' %}
        {% include 'xblogapps/_partials/sidebars/left_sidebar/tags.html' %}

    </div>

</div><!-- .sidebar end -->
