{% extends 'base.html' %}

{% block title %}Active session{% endblock %}

{% block title_jumbotron %}
    <section id="page-title">

        <div class="container clearfix">
            <h1>Active session</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Auth</li>
            </ol>
        </div>

    </section>
{% endblock %}

{% block content %}
    <div class="col_half nobottommargin">
        <div class="error404 center">403</div>
    </div>
    <div class="col_half nobottommargin col_last">

        <div class="heading-block nobottomborder">
            <h4>Ooopps.! You cannot perform this action as you are logged in.</h4>
            <span>Try logging out and login again</span>
        </div>

    </div>
{% endblock %}